body{
    margin:auto;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
header{
    background-color: #f0f8ff;
    padding: 20px;
}
.main1{
    background-color:#F5DEB3 ;
    padding: 20px;
}
.main2{
    background-color: #f0f8ff;
    padding: 20px;
    border-left: 3px solid #679bc9;
    margin: 20px 0px 20px 0px;
}
footer{
    background-color: #F5DEB3;
    margin-top: 20px 0px 20px 0px;
    padding: 20px;
    text-align: center;
}
.Summary{
    color:#003366 ;
}
.highlight{
    color:#003366 ;
}
.quote{
    color: #003366;
}
.header,.author{
  text-align: center;
  color: #003366;
}
.bookcover{
    display: block;
  margin: auto;
  width: 250px;
}
ul{
    color: #2F4F4F;
}
a{
    color: #003366;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #003366;
}